@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: b-yekan;
  src: url(fonts/Yekan.ttf);
}
@font-face {
  font-family: iran-sans;
  src: url(fonts/iran-sans.ttf);
}
@font-face {
  font-family: vazir;
  src: url(fonts/vazir.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: iran-sans;
  box-sizing: border-box;
}

#go-top {
  display: none;
  z-index: 3;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 48px;
  height: 48px;
  background-color: coral;
  border-radius: 50%;
}
#go-top img {
  transform: rotate(180deg);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/**************************** head **************************/
#top-head {
  height: 25px;
  background-color: #434247;
  position: relative;
  /*** راه های ارتباطی***/
  /*** همین حالا تماس بگیرید ***/
}
#top-head #social-contact p {
  position: absolute;
  display: inline-block;
  color: white;
  top: 2px;
  left: 90px;
  font-family: vazir;
  font-size: 13px;
}
#top-head #social-contact img:hover {
  cursor: pointer;
}
#top-head #social-contact #instagram-icon {
  width: 25px;
  position: absolute;
  left: 20px;
  transition: all 0.5s;
}
#top-head #social-contact #instagram-icon:hover {
  transform: rotate(360deg);
}
#top-head #social-contact #telegram-icon {
  position: absolute;
  left: 55px;
  transition: all 0.5s;
}
#top-head #social-contact #telegram-icon:hover {
  transform: rotate(360deg);
}
#top-head #call-contact {
  margin-right: 20px;
  font-size: 13px;
  right: 20px;
}
#top-head #call-contact span {
  color: white;
}
#top-head #call-contact a {
  text-decoration: none;
  color: #41c0b5;
  font-family: vazir;
  font-size: 13px;
}
#top-head #call-contact a:hover {
  color: #1f9589;
}

/***** navigation bar *******/
#responsive-nav-bar {
  display: none;
}

#nav-bar {
  z-index: 2;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  background-color: #41c0b5;
}
#nav-bar #menu {
  display: none;
}
#nav-bar #nav-bar-left-side {
  float: left;
  margin-left: 20px;
}
#nav-bar #nav-bar-left-side img {
  float: left;
  margin: 2px;
  width: 50px;
}
#nav-bar #nav-bar-left-side company {
  font-family: vazir;
  font-size: 13px;
  float: left;
  margin: 15px 0 15px 5px;
  color: #434247;
  font-weight: 700;
}
#nav-bar #nav-bar-icons {
  float: right;
}
#nav-bar #nav-bar-icons a {
  text-decoration: none;
}
#nav-bar #nav-bar-icons .nav-bar-icon {
  position: relative;
  float: right;
  font-family: iran-sans;
  padding: 10px 18px;
  color: #5c5a66;
  font-size: 14px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#nav-bar #nav-bar-icons .nav-bar-icon img {
  position: absolute;
  width: 20px;
  top: 16px;
  margin: 0 5px;
  color: #5c5a66;
}
#nav-bar #nav-bar-icons #register-expand-more {
  display: none;
  background-color: white;
  position: absolute;
  top: 52px;
  right: 113px;
  width: 110px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
#nav-bar #nav-bar-icons #register-expand-more .expand-icon {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  float: right;
  padding: 10px 5px;
  font-size: 14px;
  color: #434247;
}
#nav-bar #nav-bar-icons #register-expand-more .expand-icon:hover {
  background-color: #1f9589;
  color: white;
}
#nav-bar #nav-bar-icons #icon2:hover + #register-expand-more {
  display: block;
}
#nav-bar #nav-bar-icons #register-expand-more:hover {
  display: block;
}
#nav-bar #nav-bar-icons #grade-expand-more {
  display: none;
  background-color: white;
  position: absolute;
  top: 52px;
  right: 182px;
  width: 180px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
#nav-bar #nav-bar-icons #grade-expand-more .expand-icon {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  float: right;
  padding: 10px 5px;
  font-size: 12px;
  color: #434247;
}
#nav-bar #nav-bar-icons #grade-expand-more .expand-icon:hover {
  background-color: #1f9589;
  color: white;
}
#nav-bar #nav-bar-icons #icon3:hover + #grade-expand-more {
  display: block;
}
#nav-bar #nav-bar-icons #grade-expand-more:hover {
  display: block;
}
#nav-bar #nav-bar-icons .nav-bar-icon:after,
#nav-bar #nav-bar-icons .nav-bar-icon:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0);
  bottom: -10px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
#nav-bar #nav-bar-icons .nav-bar-icon:hover::after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #434247;
  transition: width 350ms ease-in-out;
  width: 100%;
}
#nav-bar #nav-bar-icons .nav-bar-icon:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*** main them design ***/
#article-them {
  max-width: 750px;
  margin: auto;
}
#article-them #ul {
  display: flex;
  flex-wrap: wrap;
}
#article-them * {
  margin: 15px;
  text-align: justify;
}
#article-them b, #article-them strong {
  margin: 0;
}
#article-them a {
  margin: 0;
  text-decoration: none;
  color: #1f9589;
}
#article-them a:hover {
  font-weight: 800;
}
#article-them details {
  display: block;
  height: 55px;
}
#article-them details summary {
  border-radius: 0 10px 10px 0;
  padding: 14px;
  width: 100px;
  float: right;
  background-color: #febc68;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#article-them details summary:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#article-them details p {
  height: 100%;
  border-radius: 10px;
  padding: 2px 115px 2px 4px;
  margin: 0;
  background-color: #fcdb8c;
}
#article-them img {
  display: block;
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#article-them #tip, #article-them #advice {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#article-them #tip span, #article-them #advice span {
  border-radius: 0 10px 10px 0;
  padding: 11px;
  width: 100px;
  float: right;
  background-color: #febc68;
  margin: 0;
  height: 80px;
}
#article-them #tip p, #article-them #advice p {
  height: 100%;
  border-radius: 10px;
  padding: 2px 115px 2px 4px;
  margin: 0;
  background-color: #fcdb8c;
}
#article-them #advice {
  height: 145px;
}
#article-them #advice span {
  height: 145px;
}
#article-them #questions {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}
#article-them #questions h4 {
  background-color: rgba(254, 189, 104, 0.2745098039);
}

/**footer**/
#footer {
  position: relative;
  height: 280px;
  background-color: #434247;
}
#footer #contact-panel {
  position: absolute;
  top: 80px;
  right: 100px;
}
#footer #contact-panel #contact-panel-phone img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 60px;
}
#footer #contact-panel #contact-panel-phone a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16;
  font-weight: 200;
  color: #41c0b5;
  right: 80px;
  top: 10px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-phone a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer #contact-panel #contact-panel-ring img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 55px;
  top: 60px;
}
#footer #contact-panel #contact-panel-ring a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: #41c0b5;
  right: 60px;
  top: 75px;
  width: 150px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-ring a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer #contact-panel #contact-panel-email img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 55px;
  top: 120px;
}
#footer #contact-panel #contact-panel-email a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: #41c0b5;
  right: 70px;
  top: 132px;
  width: 150px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-email a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer img {
  display: block;
  width: 80px;
  margin: auto;
  padding-top: 100px;
}
#footer company {
  display: block;
  text-align: center;
  color: #febc68;
  font-weight: 700;
  font-size: 18px;
}
#footer footer {
  text-align: center;
  font-size: 11px;
  margin: 10px;
}
#footer #address-panel {
  position: absolute;
  left: 100px;
  width: 250px;
  height: 120px;
  top: 80px;
}
#footer #address-panel img {
  padding: 0;
  padding-bottom: 60px;
  float: right;
  width: 50px;
}
#footer #address-panel p,
#footer #address-panel address {
  padding: 10px;
  font-family: b-yekan;
  font-size: 16px;
  color: #41c0b5;
  text-align: justify;
}

/** ipad resposive design **/
@media only screen and (max-width: 1205px) {
  #nav-bar #nav-bar-left-side img {
    width: 30px;
    margin-top: 8px;
  }
  #nav-bar #nav-bar-left-side company {
    display: none;
  }
  #nav-bar #nav-bar-icons .nav-bar-icon {
    font-size: 11px;
  }
  #nav-bar #nav-bar-icons #register-expand-more {
    top: 46px;
    right: 88px;
  }
  #nav-bar #nav-bar-icons #register-expand-more .expand-icon {
    font-size: 11px;
  }
  #nav-bar #nav-bar-icons #grade-expand-more {
    top: 46px;
    right: 145px;
  }
}
/** a bug that prevent responsive nav bar opened when u expand its icons **/
@media only screen and (min-width: 1100px) {
  #responsive-nav-bar {
    display: none !important;
  }
}
@media only screen and (max-width: 1100px) {
  /** original top head redesigned for mobile **/
  #top-head {
    height: 100px;
    background-color: #434247;
    position: relative;
    /*** راه های ارتباطی***/
  }
  #top-head #social-contact {
    height: 40px;
  }
  #top-head #social-contact p {
    width: 80px;
    position: absolute;
    display: inline-block;
    color: white;
    top: 2px;
    left: calc(50% - 40px);
    font-family: vazir;
    font-size: 10px;
  }
  #top-head #social-contact #social-contact-box {
    position: relative;
    height: 25px;
    width: 100px;
    right: calc(50% - 51px);
    top: 15px;
  }
  #top-head #call-contact {
    margin-left: 20px;
    text-align: center;
  }
  #top-head #call-contact #trash {
    display: none;
  }
  #top-head #call-contact * {
    display: block;
    font-size: 10px;
  }
  /** original nav bar redesigned for mobile **/
  #nav-bar {
    z-index: 2;
    height: 35px;
  }
  #nav-bar #menu {
    background-color: transparent;
    transition: all 0.5s;
    display: block;
    background-image: url("pic/menu-icon.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    margin: 5px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  #nav-bar #menu:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
  }
  #nav-bar #nav-bar-left-side {
    float: left;
    margin-top: 4px;
  }
  #nav-bar #nav-bar-left-side company {
    display: block;
    margin-top: 3px;
  }
  #nav-bar #nav-bar-left-side img {
    margin: 0;
    display: block;
  }
  #nav-bar #nav-bar-icons {
    display: none;
  }
  /** NEW responsive navbar that will open on menu click**/
  #responsive-nav-bar {
    display: none;
    position: absolute;
    top: 35px;
    width: 160px;
    background-color: #434247;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #responsive-nav-bar a {
    text-decoration: none;
    font-size: 10px;
  }
  #responsive-nav-bar .responsive-nav-bar-icon {
    color: #fcdb8c;
    width: 100%;
    text-align: center;
    position: relative;
    float: right;
    font-family: iran-sans;
    padding: 10px 18px;
    font-size: 12px;
  }
  #responsive-nav-bar .responsive-nav-bar-icon img {
    position: absolute;
    width: 20px;
    top: 10px;
    margin: 0 5px;
    transform: rotate(90deg);
  }
  #responsive-nav-bar .responsive-nav-bar-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #responsive-register-expand-more {
    text-align: center;
    display: none;
    background-color: #5c5a66;
    position: absolute;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #responsive-nav-bar #responsive-register-expand-more .responsive-expand-icon {
    text-align: center;
    width: 100%;
    float: right;
    padding: 10px 5px;
    font-size: 11px;
    color: #fcdb8c;
    background-color: #5c5a66;
  }
  #responsive-nav-bar #responsive-register-expand-more .responsive-expand-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #responsive-register-expand-more:hover {
    display: block;
    position: relative;
  }
  #responsive-nav-bar #responsive-grade-expand-more {
    display: none;
    position: absolute;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #responsive-nav-bar #responsive-grade-expand-more .responsive-expand-icon {
    text-align: center;
    width: 100%;
    float: right;
    padding: 10px 5px;
    font-size: 11px;
    color: #fcdb8c;
    background-color: #5c5a66;
  }
  #responsive-nav-bar #responsive-grade-expand-more .responsive-expand-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #icon3:hover + #grade-expand-more {
    display: block;
    position: relative;
  }
  #responsive-nav-bar #grade-expand-more:hover {
    display: block;
  }
  #responsive-nav-bar #responsive-icon1:hover, #responsive-nav-bar #responsive-icon2:hover {
    cursor: pointer;
  }
  /** main them **/
  #article-them details {
    height: 135px;
  }
  #article-them img {
    max-width: 350px;
  }
  #article-them #tip, #article-them #advice {
    height: 110px;
  }
  #article-them #advice {
    height: 200px;
  }
  /** footer responsive redesigned **/
  #footer {
    height: 580px;
  }
  #footer #footer-icon {
    width: 45px;
    padding-top: 120px;
  }
  #footer #contact-panel {
    width: 200px;
    top: 450px;
    right: calc(50% - 100px);
    margin: -60px 0 0 0;
  }
  #footer #address-panel {
    display: block;
    position: static;
    margin: auto;
  }
  #footer #address-panel img {
    width: 50px;
  }
}/*# sourceMappingURL=article-style.css.map */