@charset "UTF-8";
@font-face {
  font-family: b-yekan;
  src: url(fonts/Yekan.ttf);
}
@font-face {
  font-family: iran-sans;
  src: url(fonts/iran-sans.ttf);
}
@font-face {
  font-family: vazir;
  src: url(fonts/vazir.ttf);
}
test {
  border: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  font-family: iran-sans;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  position: relative;
}

/**************************** head **************************/
#top-head {
  height: 25px;
  background-color: #434247;
  position: relative;
  /*** راه های ارتباطی***/
  /*** همین حالا تماس بگیرید ***/
}
#top-head #social-contact p {
  position: absolute;
  display: inline-block;
  color: white;
  top: 2px;
  left: 90px;
  font-family: vazir;
  font-size: 13px;
}
#top-head #social-contact img:hover {
  cursor: pointer;
}
#top-head #social-contact #instagram-icon {
  width: 25px;
  position: absolute;
  left: 20px;
  transition: all 0.5s;
}
#top-head #social-contact #instagram-icon:hover {
  transform: rotate(360deg);
}
#top-head #social-contact #telegram-icon {
  position: absolute;
  left: 55px;
  transition: all 0.5s;
}
#top-head #social-contact #telegram-icon:hover {
  transform: rotate(360deg);
}
#top-head #call-contact {
  margin-right: 20px;
  font-size: 13px;
  right: 20px;
}
#top-head #call-contact span {
  color: white;
}
#top-head #call-contact a {
  text-decoration: none;
  color: #41c0b5;
  font-family: vazir;
  font-size: 13px;
}
#top-head #call-contact a:hover {
  color: #1f9589;
}

/***** navigation bar *******/
#responsive-nav-bar {
  display: none;
}

#nav-bar {
  z-index: 2;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  background-color: #41c0b5;
}
#nav-bar #menu {
  display: none;
}
#nav-bar #nav-bar-left-side {
  float: left;
  margin-left: 20px;
}
#nav-bar #nav-bar-left-side img {
  float: left;
  margin: 2px;
}
#nav-bar #nav-bar-left-side h4 {
  font-family: vazir;
  font-size: 13px;
  float: left;
  margin: 15px 0 15px 5px;
  color: #434247;
}
#nav-bar #nav-bar-icons {
  float: right;
}
#nav-bar #nav-bar-icons a {
  text-decoration: none;
}
#nav-bar #nav-bar-icons .nav-bar-icon {
  position: relative;
  float: right;
  font-family: iran-sans;
  padding: 10px 18px;
  color: #5c5a66;
  font-size: 14px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#nav-bar #nav-bar-icons .nav-bar-icon img {
  position: absolute;
  width: 20px;
  top: 16px;
  margin: 0 5px;
  color: #5c5a66;
}
#nav-bar #nav-bar-icons #register-expand-more {
  display: none;
  background-color: white;
  position: absolute;
  top: 52px;
  right: 113px;
  width: 110px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
#nav-bar #nav-bar-icons #register-expand-more .expand-icon {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  float: right;
  padding: 10px 5px;
  font-size: 14px;
  color: #434247;
}
#nav-bar #nav-bar-icons #register-expand-more .expand-icon:hover {
  background-color: #1f9589;
  color: white;
}
#nav-bar #nav-bar-icons #icon2:hover + #register-expand-more {
  display: block;
}
#nav-bar #nav-bar-icons #register-expand-more:hover {
  display: block;
}
#nav-bar #nav-bar-icons #grade-expand-more {
  display: none;
  background-color: white;
  position: absolute;
  top: 52px;
  right: 182px;
  width: 180px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
#nav-bar #nav-bar-icons #grade-expand-more .expand-icon {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  float: right;
  padding: 10px 5px;
  font-size: 12px;
  color: #434247;
}
#nav-bar #nav-bar-icons #grade-expand-more .expand-icon:hover {
  background-color: #1f9589;
  color: white;
}
#nav-bar #nav-bar-icons #icon3:hover + #grade-expand-more {
  display: block;
}
#nav-bar #nav-bar-icons #grade-expand-more:hover {
  display: block;
}
#nav-bar #nav-bar-icons .nav-bar-icon:after,
#nav-bar #nav-bar-icons .nav-bar-icon:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0);
  bottom: -10px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
#nav-bar #nav-bar-icons .nav-bar-icon:hover::after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #434247;
  transition: width 350ms ease-in-out;
  width: 100%;
}
#nav-bar #nav-bar-icons .nav-bar-icon:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*** main them design ***/
#main-them {
  text-align: center;
  float: right;
  width: 100%;
  height: 730px;
  background-image: url("pic/main-them.jpeg");
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#main-them #main-them-title {
  border-radius: 25px;
  margin: 180px 90px;
}
#main-them #main-them-title h1 {
  font-size: 40px;
  font-family: iran-sans;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}
#main-them #main-them-title h2 {
  font-family: iran-sans;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

/** our costumer **/
#our-costumer {
  float: right;
  width: 100%;
  position: relative;
  height: 100px;
}
#our-costumer #our-costumer-box {
  border-radius: 20px;
  width: 800px;
  height: 200px;
  position: absolute;
  right: calc(50% - 400px);
  top: -100px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#our-costumer #our-costumer-box #some-costumer-title {
  width: 40%;
  float: right;
  text-align: center;
  background-color: #febc68;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
#our-costumer #our-costumer-box #some-costumer-title h2 {
  margin-top: 35px;
  font-size: 35px;
}
#our-costumer #our-costumer-box #some-costumer-names {
  overflow: hidden;
  position: relative;
  width: 60%;
  float: right;
  height: 100%;
  border-radius: 20px 0 0px 20px;
  background-color: white;
}
#our-costumer #our-costumer-box #some-costumer-names .costumers {
  border-radius: 15px;
  background-color: rgba(252, 219, 140, 0.5019607843);
  transition: all 0.5;
  position: absolute;
  left: 0;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 100px;
}
#our-costumer #our-costumer-box #some-costumer-names .costumers:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*** middle them design ***/
#middle-them {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid transparent;
}
#middle-them .middle-them-title {
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 40px 10px;
  min-width: 320px;
  max-width: 320px;
  height: 650px;
}
#middle-them .middle-them-title img {
  margin: 15px;
  border-radius: 20px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#middle-them .middle-them-title h2 {
  font-family: iran-sans;
  font-size: 20px;
  color: #febc68;
  margin: 10px 5px;
}
#middle-them .middle-them-title h3 {
  text-align: justify;
  font-family: b-yekan;
  font-size: 13px;
  margin: 10px 30px;
}

/** company-achievements **/
#company-achievements {
  height: 70px;
  text-align: center;
}
#company-achievements #company-achievements-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -3px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  width: 850px;
  left: calc(50% - 425px);
  height: 140px;
  border-radius: 25px;
}
#company-achievements #company-achievements-box #company-achievements-title {
  border-radius: 0 20px 20px 0;
  float: right;
  width: 20%;
  height: 100%;
  background-color: #febc68;
}
#company-achievements #company-achievements-box #company-achievements-title h2 {
  margin-top: 42px;
}
#company-achievements #company-achievements-box #company-achievements-done {
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: white;
}
#company-achievements #company-achievements-box #company-achievements-done .achievements {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 25%;
  height: 90%;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#company-achievements #company-achievements-box #company-achievements-done .achievements h3 {
  border-radius: 0 0 20px 20px;
  order: 2;
  font-family: b-yekan;
  height: 40%;
  background-color: rgba(252, 219, 140, 0.5019607843);
  line-height: 20px;
  padding: 5px;
}
#company-achievements #company-achievements-box #company-achievements-done .achievements h4 {
  border-radius: 20px 20px 0 0;
  order: 1;
  font-family: b-yekan;
  height: 60%;
  font-weight: 700;
  font-size: 60px;
  background-color: rgba(65, 192, 181, 0.5019607843);
}

/** consulting section **/
#contact-us {
  background-image: url("pic/consultion-pic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
}
#contact-us #corporation-icon, #contact-us #more-info-icon, #contact-us #change-icon {
  display: block;
  width: 110px;
  margin: auto;
  padding-top: 100px;
  filter: drop-shadow(white 0px 5px 15px);
}
#contact-us #invite, #contact-us #more-info, #contact-us #company-register {
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}
#contact-us #invite h2, #contact-us #more-info h2, #contact-us #company-register h2 {
  text-align: center;
}
#contact-us #invite h3, #contact-us #more-info h3, #contact-us #company-register h3 {
  text-align: center;
}
#contact-us #change-icon {
  padding-top: 40px;
}
#contact-us #company-register {
  text-align: center;
}
#contact-us #more-info-icon {
  padding-top: 40px;
}
#contact-us #more-info {
  text-align: center;
}
#contact-us #more-info h4 > a {
  font-family: b-yekan;
  font-size: 20px;
  text-decoration: none;
  color: #fcdb8c;
}
#contact-us #more-info h4 > a:hover {
  color: #febc68;
}

/** contact form section **/
#contact-form-box {
  margin-top: -50px;
}
#contact-form-box h2 {
  background-color: white;
  width: 300px;
  text-align: center;
  margin: 10px auto;
  padding: 15px;
  border-radius: 20px;
}
#contact-form-box #contact-form {
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  margin: 0 auto 40px auto;
  width: 300px;
  overflow: hidden;
}
#contact-form-box #contact-form #form-warning {
  text-align: center;
  width: 90%;
  height: 30px;
  margin: 6px;
  position: absolute;
  left: calc(5% - 6px);
  border-radius: 25px;
  visibility: hidden;
}
#contact-form-box label {
  position: absolute;
  font-size: 13px;
  color: gray;
  width: 100%;
  right: 0;
}
#contact-form-box input,
#contact-form-box label,
#contact-form-box select {
  margin-top: 28px;
  transition: all 0.5s;
  padding: 5px;
}
#contact-form-box input,
#contact-form-box select {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px;
  border-radius: 10px;
}
#contact-form-box input:focus,
#contact-form-box select:focus {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#contact-form-box input:focus + label {
  margin-top: 0;
}
#contact-form-box input:not(:-moz-placeholder-shown) + label {
  margin-top: 0;
}
#contact-form-box input:not(:-ms-input-placeholder) + label {
  margin-top: 0;
}
#contact-form-box input:not(:placeholder-shown) + label {
  margin-top: 0;
}
#contact-form-box input[type=submit] {
  margin: 15px;
  padding: 5px 20px;
}
#contact-form-box input[type=submit]:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
#contact-form-box input[type=number]::-webkit-inner-spin-button {
  display: none;
}

/**history**/
#history {
  height: 50px;
  position: relative;
  z-index: 1;
}
#history #history-box {
  background-color: #febc68;
  box-shadow: rgba(50, 50, 93, 0.25) 0px -6px 12px -2px, rgba(0, 0, 0, 0.3) 0px -3px 7px -3px;
  border-radius: 20px;
  position: absolute;
  width: 650px;
  left: calc(50% - 325px);
  padding: 10px;
}
#history #history-box h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

/**footer**/
#footer {
  position: relative;
  height: 280px;
  background-color: #434247;
}
#footer #contact-panel {
  position: absolute;
  top: 80px;
  right: 100px;
}
#footer #contact-panel #contact-panel-phone img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 60px;
}
#footer #contact-panel #contact-panel-phone a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16;
  font-weight: 200;
  color: #41c0b5;
  right: 80px;
  top: 10px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-phone a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer #contact-panel #contact-panel-ring img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 55px;
  top: 60px;
}
#footer #contact-panel #contact-panel-ring a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: #41c0b5;
  right: 60px;
  top: 75px;
  width: 150px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-ring a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer #contact-panel #contact-panel-email img {
  position: absolute;
  right: 0;
  padding: 5px;
  width: 55px;
  top: 120px;
}
#footer #contact-panel #contact-panel-email a {
  position: absolute;
  text-align: center;
  font-family: b-yekan;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: #41c0b5;
  right: 70px;
  top: 132px;
  width: 150px;
  transition: all 0.5s;
}
#footer #contact-panel #contact-panel-email a:hover {
  font-size: 20px;
  color: #1f9589;
}
#footer img {
  display: block;
  width: 80px;
  margin: auto;
  padding-top: 100px;
}
#footer h2 {
  text-align: center;
  color: #febc68;
  font-weight: 700;
  font-size: 18px;
}
#footer h3 {
  font-weight: 100;
  font-size: 12px;
  color: #fcdb8c;
  text-align: justify;
  margin: 15px auto;
  max-width: 300px;
}
#footer footer {
  text-align: center;
  font-size: 11px;
  margin: 10px;
}
#footer #address-panel {
  position: absolute;
  left: 100px;
  width: 250px;
  height: 120px;
  top: 80px;
}
#footer #address-panel img {
  padding: 0;
  padding-bottom: 60px;
  float: right;
  width: 50px;
}
#footer #address-panel p,
#footer #address-panel address {
  padding: 10px;
  font-family: b-yekan;
  font-size: 16px;
  color: #41c0b5;
  text-align: justify;
}

/** ipad resposive design **/
@media only screen and (max-width: 1205px) {
  #nav-bar #nav-bar-left-side img {
    width: 30px;
    margin-top: 8px;
  }
  #nav-bar #nav-bar-left-side h4 {
    display: none;
  }
  #nav-bar #nav-bar-icons .nav-bar-icon {
    font-size: 11px;
  }
  #nav-bar #nav-bar-icons #register-expand-more {
    top: 46px;
    right: 88px;
  }
  #nav-bar #nav-bar-icons #register-expand-more .expand-icon {
    font-size: 11px;
  }
  #nav-bar #nav-bar-icons #grade-expand-more {
    top: 46px;
    right: 145px;
  }
}
/** a bug that prevent responsive nav bar opened when u expand its icons **/
@media only screen and (min-width: 970px) {
  #responsive-nav-bar {
    display: none !important;
  }
}
@media only screen and (max-width: 970px) {
  /** original top head redesigned for mobile **/
  #top-head {
    height: 100px;
    background-color: #434247;
    position: relative;
    /*** راه های ارتباطی***/
  }
  #top-head #social-contact {
    height: 40px;
  }
  #top-head #social-contact p {
    width: 80px;
    position: absolute;
    display: inline-block;
    color: white;
    top: 2px;
    left: calc(50% - 40px);
    font-family: vazir;
    font-size: 10px;
  }
  #top-head #social-contact #social-contact-box {
    position: relative;
    height: 25px;
    width: 100px;
    right: calc(50% - 51px);
    top: 15px;
  }
  #top-head #call-contact {
    margin-left: 20px;
    text-align: center;
  }
  #top-head #call-contact #trash {
    display: none;
  }
  #top-head #call-contact * {
    display: block;
    font-size: 10px;
  }
  /** original nav bar redesigned for mobile **/
  #nav-bar {
    z-index: 2;
    height: 35px;
  }
  #nav-bar #menu {
    background-color: transparent;
    transition: all 0.5s;
    display: block;
    background-image: url("pic/menu-icon.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    margin: 5px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  #nav-bar #menu:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
  }
  #nav-bar #nav-bar-left-side {
    float: left;
    margin-top: 4px;
  }
  #nav-bar #nav-bar-left-side h4 {
    display: block;
    margin-top: 3px;
  }
  #nav-bar #nav-bar-left-side img {
    margin: 0;
    display: block;
  }
  #nav-bar #nav-bar-icons {
    display: none;
  }
  /** NEW responsive navbar that will open on menu click**/
  #responsive-nav-bar {
    display: none;
    position: absolute;
    top: 35px;
    width: 160px;
    background-color: #434247;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #responsive-nav-bar a {
    text-decoration: none;
    font-size: 10px;
  }
  #responsive-nav-bar .responsive-nav-bar-icon {
    color: #fcdb8c;
    width: 100%;
    text-align: center;
    position: relative;
    float: right;
    font-family: iran-sans;
    padding: 10px 18px;
    font-size: 12px;
  }
  #responsive-nav-bar .responsive-nav-bar-icon img {
    position: absolute;
    width: 20px;
    top: 10px;
    margin: 0 5px;
    transform: rotate(90deg);
  }
  #responsive-nav-bar .responsive-nav-bar-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #responsive-register-expand-more {
    text-align: center;
    display: none;
    background-color: #5c5a66;
    position: absolute;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #responsive-nav-bar #responsive-register-expand-more .responsive-expand-icon {
    text-align: center;
    width: 100%;
    float: right;
    padding: 10px 5px;
    font-size: 11px;
    color: #fcdb8c;
    background-color: #5c5a66;
  }
  #responsive-nav-bar #responsive-register-expand-more .responsive-expand-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #responsive-register-expand-more:hover {
    display: block;
    position: relative;
  }
  #responsive-nav-bar #responsive-grade-expand-more {
    display: none;
    position: absolute;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #responsive-nav-bar #responsive-grade-expand-more .responsive-expand-icon {
    text-align: center;
    width: 100%;
    float: right;
    padding: 10px 5px;
    font-size: 11px;
    color: #fcdb8c;
    background-color: #5c5a66;
  }
  #responsive-nav-bar #responsive-grade-expand-more .responsive-expand-icon:hover {
    background-color: white;
    color: #434247;
  }
  #responsive-nav-bar #icon3:hover + #grade-expand-more {
    display: block;
    position: relative;
  }
  #responsive-nav-bar #grade-expand-more:hover {
    display: block;
  }
  /** main them redesigned for responsive mobile **/
  #main-them {
    height: 400px;
  }
  #main-them #main-them-title {
    margin-top: 100px;
  }
  #main-them #main-them-title h1 {
    font-size: 16px;
    font-weight: 200;
  }
  #main-them #main-them-title h2 {
    font-size: 12px;
    font-weight: 100;
  }
  /** remove our costumer section for better responsebility on mobile **/
  #our-costumer {
    display: none;
  }
  /** remove company achivement section for better responsebility on mobile **/
  #company-achievements {
    display: none;
  }
  /** redesign consulting section for mobile responsebelity **/
  #contact-us {
    height: 740px;
  }
  #contact-us #corporation-icon, #contact-us #change-icon, #contact-us #more-info-icon {
    display: block;
    width: 80px;
    margin: auto;
    padding-top: 30px;
    filter: drop-shadow(white 0px 5px 15px);
  }
  #contact-us #invite h2, #contact-us #company-register h2, #contact-us #more-info h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
  }
  #contact-us #invite h3, #contact-us #company-register h3, #contact-us #more-info h3 {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
  }
  #contact-us #change-icon {
    padding-top: 40px;
  }
  #contact-us #company-register {
    text-align: center;
  }
  #contact-us #more-info-icon {
    padding-top: 40px;
  }
  #contact-us #more-info {
    text-align: center;
  }
  #contact-us #more-info h4 {
    font-size: 13px;
    font-weight: 100;
  }
  #contact-us #more-info h4 a {
    font-size: 13px;
  }
  /** history responsive redesign **/
  #history #history-box {
    width: 260px;
    left: calc(50% - 130px);
    padding: 10px;
  }
  #history #history-box h3 {
    text-align: justify;
    font-size: 11px;
  }
  /** footer responsive redesigned **/
  #footer {
    height: 580px;
  }
  #footer #footer-icon {
    width: 45px;
    padding-top: 120px;
  }
  #footer #contact-panel {
    width: 200px;
    top: 450px;
    right: calc(50% - 100px);
    margin: -60px 0 0 0;
  }
  #footer #address-panel {
    display: block;
    position: static;
    margin: auto;
  }
  #footer #address-panel img {
    width: 50px;
  }
}/*# sourceMappingURL=style.css.map */