$mainColor : #FBE8A6;
$orangeColor : #f3a27d;
$darkBlueColor : #303C6C;
$mediumBlueColor : #B4DFE5;
$lightBlueColor : #D2FDFF;

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/**************************** head **************************/
#top-head{
    height: 25px;
    background-color: $darkBlueColor;
    position: relative;
    #social-contact{
        p{
            position: absolute;
            display: inline-block;
            color : white;
            top : 2px;
            left: 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;

        }
        img{
            &:hover{
                cursor: pointer;
            }
        }
        #instagram-icon{
            position: absolute;
            left: 150px;
        }
        #telegram-icon{
            position: absolute;
            left : 180px;
        }
    }

    #call-contact{
        position: absolute;
        font-size: 14px;
        right: 20px;
        span{
            color : white;
        }
        a{
            text-decoration: none;
            color : $orangeColor;
            font-family: Arial, Helvetica, sans-serif;
            &:hover{
                color : #B4DFE5;
            }
        }
    }
   
}

#nav-bar{

    h4{
        position: absolute;
        display: inline-block;
        color : #835c08;
        top : 40px;
    }
}
